@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', 'Comic Sans MS', cursive;
}

html {
    background-color: dodgerblue;
}

form{
    padding: 5px;
}

h1 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

body {
    background-color: rebeccapurple;
    color: white;
    width: 70%;
    height: 80%;
    margin: 40px auto;
    padding: 40px;
    font-size: 18pt;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 10px #0004
}

input {
    margin: 0 10px;
    transform: scale(2);
}

li {
    list-style: none;
}